// border: 2px solid #EEEFF2
.content{
     width: calc(100% - 50px)0%;
     display: flex;
     justify-content: space-evenly;
     align-items: center;
     margin: 20px auto; 
     .icons{
          width: 55px;
          height: 55px;
          border-radius: 50%;
          background-color: #FFECEC;
          display: flex;
          justify-content: center;
          align-items: center;
          color:#F53838;
     }
     .data{ 
         
          h2{
        color: #0B132A;
        font-size:25px;
        font-weight: bold;
        span{
          font-size: 16px;
          font-weight: bolder;
        }
        p{
          color: #4F5665;
          font-size: 20px;
        }
     }}
}
@media (max-width:600px){
     .MuiGrid-root{
          border:none !important;
     }
     .content{
          margin: 25px auto;
     }
}
//head
.head{
     h2{
          color: #0B132A;
          font-size: 35px;
          font-weight: 600;
          margin-top: 100px;
     }
     p{
          color:#4F5665;
          font-weight: 400;
          font-size: 16px;
          margin: 30px auto;
     }
}
//list

.list{
     display: flex;
     align-items: center;
     margin: 20px 0;
    span{
         color: #2FAB73;
         margin-right: 10px;
    }
    p{
         color: #4F5665;
         font-size: 14px;
         font-weight: 400;
    }
}
@media (max-width:600px){
     
}
//paln
.plan{
     text-align: center;
     background: #fff;
     border:2px solid #DDDDDD;
     border-radius: 10px;
     padding: 80px 40px;
     transition: .5 ease-in-out;
     height: 550px;
     width: calc(100% - 100px);
     margin: 30px auto;
     position: relative;
     h5{
          color: #0B132A;
          font-size: 18px;
          font-weight: 500;
          margin: 30px auto;

     }
     h3{
          color: #0B132A;
          font-size: 25px;
          margin-bottom: 20px;
          position: absolute;
          bottom: 75px;
         
          left: 0; 
          right: 0; 
          margin-left: auto; 
          margin-right: auto; 
     }
     .MuiButton-text{
          background: #FFFFFF;
          border: 2px solid #F53838;
          color: #F53838;
          border-radius: 50px;
          width: calc(100% - 100px);
          transition: .5 all;
          font-size: 16px;
          font-weight: 700;
          position: absolute;
         
          bottom: 25px;
          left: 0; 
          right: 0; 
          margin-left: auto; 
          margin-right: auto; 
          &:hover{
               background-color: #F53838;
               color: #fff;
          }
     }
     &:hover{
          border: 2px solid #F53838; 
     }
}
.links__footer{
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     h5{
          color: #0B132A;
          font-size: 18px;
          margin-bottom: 20px;
     }
     ul{
          list-style: none;
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      li{
           margin-bottom: 10px;
           a{
                text-decoration: none;
                color: #4F5665;
                font-size: 16;
           }
      }
     }
}
.MuiCard-root{
     transition: .5s all;
     cursor: pointer;
     &:hover{
          border:2px solid #F53838;
          border-radius: 4px;
          // border-color: #F53838;
     }
}