.makeStyles-avatar-2,.makeStyles-submit-4,.makeStyles-avatar-14,.makeStyles-submit-16{
background-color: #F53838 !important;
}
.MuiTypography-colorPrimary{
     color: #F53838 !important;
}
main {
     background-color: #f8f8f8;
     border-radius: 10px;
     padding: 0px 30px;
     margin: 30px auto;

     a {
          text-decoration: none;
          color: #F53838;
     }
}