
*{
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width:10px;
 
}

/* Track */
::-webkit-scrollbar-track {
  background: #F8F8F8;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F53838;
  border-radius: 10px;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(#ffffff, #f6f6f6);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
